<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link href="assets/css/app.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="assets/images/favicon.ico">
  <title>Zenorger</title>
<body>
<noscript>
  <strong>We're sorry but web-ui doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<main>
  <div id="app" class="container">
    <div class="row text-center">
      <div id="header" class="col-sm-12">Zenorger</div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        <button class="btn btn-link"
                v-bind:class="{ 'btn-outline-primary': selectedListCode == 'Inbox' }"
                v-on:click="showTasks('Inbox')">Inbox
        </button>
        <div>Contexts</div>
        <ul>
          <li v-for="context in contexts">
            <button class="btn btn-link"
                    v-bind:class="{ 'btn-outline-primary': context.id == selectedListCode }"
                    v-on:click="showTasks(context.id)">{{context.name}}
            </button>
          </li>
        </ul>
        <button class="btn btn-link"
                v-bind:class="{ 'btn-outline-primary': selectedListCode == 'Pending' }"
                v-on:click="showTasks('Pending')">Pending
        </button>
        <button class="btn btn-link"
                v-bind:class="{ 'btn-outline-primary': selectedListCode == 'SomedayMaybe' }"
                v-on:click="showTasks('SomedayMaybe')">Someday / Maybe
        </button>
        <button class="btn btn-link"
                v-bind:class="{ 'btn-outline-primary': selectedListCode == 'Removed' }"
                v-on:click="showTasks('Removed')">Trash
        </button>
      </div>
      <div id="taskList" class="col-sm-5">
        <div id="addTask" class="row">
          <div class="col-sm-12">
            <div class="form">
               <div>
                 <input type="text" class="form-control" v-model="newTaskName" placeholder="Add task..."/>
               </div>
               <button class="btn btn-primary form-group"
                       v-bind:disabled="!newTaskName"
                       v-on:click="addTask(newTaskName)">Add task
               </button>
            </div>
          </div>
        </div>
        <div class="block">
          <table class="table table-sm table-hover">
            <tbody>
            <tr v-for="task in tasks">
              <td v-bind:class="{ 'table-success': task.id === editableTask.id }"
                  v-on:click="showTask(task)">
                <span>{{task.name}}</span>
                <span class="float-right">{{task.completeDate}}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div id="taskForm" class="col-sm-5">
        <div class="form" v-if="isTaskEdit">
          <!-- Name -->
          <input v-model.lazy="editableTask.name" type="text" class="form-control" placeholder="Name"/>
          <!-- Status -->
          <div class="form-control dropdown">
            <span>Status:</span>
            <span>{{editableTask.status}}</span>
            <span id="statusDropDown"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"></span>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="statusDropDown">
              <label class="dropdown-item" v-for="status in statuses">
                <input type="radio"
                       v-model="editableTask.status"
                       v-bind:value="status"
                       v-on:click="setContexts(status)"/>&nbsp;{{status}}
              </label>
            </div>
          </div>
          <!-- Contexts -->
          <div class="form-control dropdown">
            <span>Contexts:</span>
            <span class="mark"
                  v-for="contextId in editableTask.contexts">{{getContextName(contextId)}}</span>
            <span id="contextsDropDown"
                  class="dropdown-toggle float-right"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                  v-if="editableTask.status === 'Active'">Change</span>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="contextsDropDown">
              <label class="dropdown-item" v-for="context in contexts">
                <input type="checkbox"
                       name="options"
                       v-model="editableTask.contexts"
                       v-bind:value="context.id",
                       v-on:click="setStatus()"/>&nbsp;{{context.name}}
              </label>
            </div>
          </div>
          <!-- Save button -->
          <button v-on:click="saveTask(editableTask)" class="btn btn-primary form-group" type="button">Save</button>
        </div>
      </div>
    </div>
  </div>
</main>
</body>
</html>
<!-- Библиотека jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>

<!-- Popper.js для всплывающих подсказок -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<!-- Последний скомпилированный и минимизированный Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="app.js"></script>
